In [91]:
import numpy as np
import pandas as pd
from os import listdir
from os.path import isfile, join

In [92]:
#Go though Web Export, split on ;
id = 1
label = ['Id','Banner','Item','Type','Rarity','Date']
rolls = pd.DataFrame(columns = label)
web_dir = "C:/Users/vzma/spring2021/CMSC320-Final-Tutorial/Data/WebExport"
for f in listdir(web_dir):
    if isfile(join(web_dir, f)):
        curr = pd.read_csv(join(web_dir, f))
        for index,line in curr.iterrows():
            temp = line[0].split(';')
            to_add = [id,temp[0],temp[2],temp[3],temp[4],temp[5][:-1].replace('T', ' ')]
            rolls.loc[len(rolls.index)] = to_add
        id = id+1

In [93]:
#Go though External Export get rid of stars
ext_dir = "C:/Users/vzma/spring2021/CMSC320-Final-Tutorial/Data/ExternalExport"
b = ['Character Event Wish History', 'Permanent Wish History', 'Weapon Event Wish History', 'Novice Wish History']
for f in listdir(ext_dir):
    if isfile(join(ext_dir, f)):
        notebook = pd.ExcelFile(join(ext_dir, f))
        for sheet in b:
            curr = pd.read_excel(notebook,sheet_name=sheet)
            for index,line in curr.iterrows():
                to_add = [id,line['Banner'],line['Item Name'],line['Item Type'],len(line['Item Rarity']),line['Date and Time']]
                rolls.loc[len(rolls.index)] = to_add
        id = id+1

In [94]:
#Find Chinese document and figure out if it can be translated or just trash
name_dir = "C:/Users/vzma/spring2021/CMSC320-Final-Tutorial/Data/Export/rewardname"
b = ['Character Event Wish', 'Permanent Wish', 'Weapon Event Wish', 'Novice Wishes']
for f in listdir(name_dir):
    if isfile(join(name_dir, f)):
        notebook = pd.ExcelFile(join(name_dir, f))
        for sheet in b:
            curr = pd.read_excel(notebook,sheet_name=sheet)
            for index,line in curr.iterrows():
                to_add = [id,line['Banner'],line['Reward Name'],line['Reward Type'],line['Rarity (Star)'],line['Timestamp']]
                rolls.loc[len(rolls.index)] = to_add
        id = id+1

In [95]:
main_dir = "C:/Users/vzma/spring2021/CMSC320-Final-Tutorial/Data/Export/name"
b = ['Character Event Wish', 'Permanent Wish', 'Weapon Event Wish', 'Novice Wishes']
for f in listdir(main_dir):
    if isfile(join(main_dir, f)):
        notebook = pd.ExcelFile(join(main_dir, f))
        for sheet in b:
            curr = pd.read_excel(notebook,sheet_name=sheet)
            for index,line in curr.iterrows():
                to_add = [id,line['Banner'],line['name'],line['type'],line['rarity'],line['time']]
                rolls.loc[len(rolls.index)] = to_add
        id = id+1

In [96]:
rolls

,Id,Banner,Item,Type,Rarity,Date
0,1,Novice,Raven Bow,Weapon,3,2020-09-28 23:59:36
1,1,Novice,Magic Guide,Weapon,3,2020-09-28 23:59:36
2,1,Novice,Ferrous Shadow,Weapon,3,2020-09-28 23:59:36
3,1,Novice,Bloodtainted Greatsword,Weapon,3,2020-09-28 23:59:36
4,1,Novice,Ferrous Shadow,Weapon,3,2020-09-28 23:59:36
...,...,...,...,...,...,...
21235,21,Novice,Cool Steel,Weapon,3,2020-10-23 07:02:28
21236,21,Novice,Ningguang,Character,4,2020-10-23 07:02:28
21237,21,Novice,Harbinger of Dawn,Weapon,3,2020-10-23 07:02:28
21238,21,Novice,Bloodtainted Greatsword,Weapon,3,2020-10-23 07:02:28
21239,21,Novice,Skyrider Sword,Weapon,3,2020-10-23 07:02:28

In [114]:
weapons = pd.DataFrame(columns=['Item','Rarity','Count'])
temp = rolls.loc[rolls['Type']=='Weapon'].Item.unique()
for w in temp:
    r = rolls.loc[rolls['Item']==w]
    x = r['Rarity'].iloc[0]
    to_add = [w, x, len(r)]
    weapons.loc[len(weapons.index)] = to_add

In [116]:
weapons.sort_values(by='Count', ascending=False)

                                 Item Rarity Count
15                     Skyrider Sword      3  1467
3             Bloodtainted Greatsword      3  1466
5                 Sharpshooter's Oath      3  1463
7                        Black Tassel      3  1414
2                      Ferrous Shadow      3  1413
8                           Slingshot      3  1388
4   Thrilling Tales of Dragon Slayers      3  1387
11                        Emerald Orb      3  1365
6                   Harbinger of Dawn      3  1358
0                           Raven Bow      3  1348
1                         Magic Guide      3  1342
12                        Debate Club      3  1336
9                          Cool Steel      3  1300
21                      Dragon's Bane      4   104
14                  Eye of Perception      4   101
24                     Favonius Lance      4    86
31                        Lion's Roar      4    77
18                    Sacrificial Bow      4    75
17             Sacrificial Greatsword      4    75
10                  Sacrificial Sword      4    72
28                               Rust      4    71
30                          The Flute      4    70
16                    Favonius Warbow      4    66
19                        The Widsith      4    64
20                     Favonius Codex      4    63
26              Sacrificial Fragments      4    59
32                           The Bell      4    54
23                     The Stringless      4    53
29                Favonius Greatsword      4    43
13                     Favonius Sword      4    43
34                        Rainslasher      4    39
40                       Lithic Blade      4    31
41                       Lithic Spear      4    28
35                      Skyward Pride      5    18
33                  Wolf's Gravestone      5    16
39       Primordial Jade Winged-Spear      5    13
43             Primordial Jade Cutter      5    12
36                          Amos' Bow      5    10
25                      Skyward Blade      5     9
42                      Staff of Homa      5     8
44                       Skyward Harp      5     7
22                      Skyward Atlas      5     7
45                      Skyward Spine      5     5
27    Lost Prayer to the Sacred Winds      5     5
38                     Aquila Favonia      5     5
37                      Summit Shaper      5     2
46                     Memory of Dust      5     1
47                       The Unforged      5     1
48                  Vortex Vanquisher      5     1

In [117]:
characters = pd.DataFrame(columns=['Character','Rarity','Count'])
temp = rolls.loc[rolls['Type']=='Character'].Item.unique()
for w in temp:
    r = rolls.loc[rolls['Item']==w]
    x = r['Rarity'].iloc[0]
    to_add = [w, x, len(r)]
    characters.loc[len(characters.index)] = to_add

In [120]:
characters.sort_values(by='Count', ascending=False)

    Character Rarity Count
6   Xiangling      4   207
19    Xingqiu      4   160
0      Noelle      4   157
10    Sucrose      4   126
1    Chongyun      4   121
2      Fischl      4   117
16     Xinyan      4   111
18     Beidou      4   100
12    Barbara      4    95
14      Razor      4    88
5     Bennett      4    82
13      Diona      4    76
21  Ningguang      4    56
8        Lisa      4    42
17     Keqing      5    37
3       Kaeya      4    28
20       Qiqi      5    23
26      Ganyu      5    20
9       Diluc      5    19
25       Mona      5    18
11      Venti      5    17
4        Jean      5    17
15    Zhongli      5    15
27       Xiao      5    15
7       Amber      4    13
22       Klee      5    11
23  Tartaglia      5    10
24     Albedo      5     9
28     Hu Tao      5     9